.nav-title {
    /* background-color: #2196F3; */
    color: rgb(190, 189, 189);
    /* text-align: center; */
    border-bottom: 1px solid rgb(221, 220, 220);
    /* font-family: "Times New Roman", Georgia, Serif; */
    height: 4rem;
    padding-left: 1rem;
    vertical-align: middle;
    line-height: 4rem;
}
.nav-title .main-text {
  font-size: 2rem;
}
.nav-title .sub-text {
  font-size: 1rem;
}

.view-block {
  padding: 0px;
}
