<h2>Hello Content</h2>
<!-- <ui-select [data]="bindingData"></ui-select> -->

<div class="ui-g">


    <div class="ui-g-12 ui-sm-3 ui-md-3">
        <p-fieldset legend="Toggleable" [toggleable]="true">
            <p-selectButton [options]="cities" (onOptionClick)="selectChange($event)" [(ngModel)]="selectedCity"></p-selectButton>
        </p-fieldset>
        <p-fieldset legend="Rate" [toggleable]="true">
            <span>Wifi: {{val}}</span>
            <p-rating [cancel]="false"
            (onRate)="handleChange($event)" ></p-rating>
            <!-- <p-slider [(ngModel)]="val" [animate]="true"
            [min]="1" [max]="5" [step]="0.5"
            (onChange)="handleChange($event)"></p-slider> -->
        </p-fieldset>

    </div>
    <div class="ui-g-12 ui-sm-9 ui-md-9">
        <app-data-table [tableData]="tempData"></app-data-table>
    </div>





</div>


