<h2>Hello Content</h2>
<!-- <ui-select [data]="bindingData"></ui-select> -->

<div class="ui-g">
    <p-fieldset legend="Toggleable" [toggleable]="true">
            <p-selectButton [options]="cities" (onOptionClick)="selectChange($event)" [(ngModel)]="selectedCity"></p-selectButton>
    </p-fieldset>
    <p-fieldset legend="Rate" [toggleable]="true">
        <h3>Wifi: {{val}}</h3>
        <p-slider [(ngModel)]="val" [min]="1" [max]="5" [step]="1" (onChange)="handleChange($event)"></p-slider>
    </p-fieldset>
    
    <app-data-table [tableData]="tempData"></app-data-table>


</div>


    