
<!-- <app-dialog [displayDialog]="displayDialog"></app-dialog> -->
<p-dialog [header]="dialogTitle" [(visible)]="displayDialog" modal="modal" [responsive]="true">
    
 
    <div *ngIf="selectData">
        <p>address: {{selectData.address}}</p>
        <p>open_time: {{selectData.open_time}}</p>
        <p>mrt: {{selectData.mrt}}</p>
        <p>wifi: {{selectData.wifi}}</p>
        <p>seat: {{selectData.seat}}</p>
        <p>quiet: {{selectData.quiet}}</p>
        <p>tasty: {{selectData.tasty}}</p>
        <p>cheap: {{selectData.cheap}}</p>      
        <p>music: {{selectData.music}}</p>
        <p>socket: {{selectData.socket}}</p>
        <p>limited_time: {{selectData.limited_time}}</p>
        <p>standing_desk: {{selectData.standing_desk}}</p>
        <p>remark: {{selectData.remark}}</p>
        <p>url: <a [href]="selectData.url" target="_blank">{{selectData.name}} 官方網站</a></p>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="displayDialog=false" label="Confirm"></button>
        <button type="button" pButton icon="fa-close" (click)="displayDialog=false" label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dataTable [value]="tableData" [loading]="false"
             [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" 
             [editable]="true" [responsive]="true"
             (onRowDblclick) = "openDetail($event)">
<p-headerColumnGroup>
       <p-row>
           <p-column header="Infomation" colspan="3"></p-column>
           <p-column header="Rate" colspan="4"></p-column>
           <p-column header="Remark" rowspan="2"></p-column>
       </p-row>
       <p-row>
           <p-column header="Name"></p-column>
           <p-column header="MRT"></p-column>
           <p-column header="Address"></p-column>
           <p-column header="Wifi"></p-column>
           <p-column header="Seat"></p-column>
           <p-column header="Quiet"></p-column>
           <p-column header="Socket"></p-column>
       </p-row>
</p-headerColumnGroup>
<p-column field="name" header="Name"></p-column>
<p-column field="mrt" header="MRT"></p-column>
<p-column field="address" header="Address"></p-column>
<p-column field="wifi" header="Wifi"></p-column>
<p-column field="seat" header="Seat"></p-column>
<p-column field="quiet" header="Quiet"></p-column>
<p-column field="socket" header="Socket"></p-column>
<p-column field="remark" header="Remark" [editable]="true"></p-column>
</p-dataTable>
<!-- <button (onClick)="saveData()">Save Data!</button> -->
