<!-- <p-dataTable [value]="tableData" [loading]="false"
     [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" #dt >
    <p-headerColumnGroup>
            <p-row>
                <p-column header="Infomation" colspan="4"></p-column>
                <p-column header="Rate" colspan="4"></p-column>
                <p-column header="Remark" rowspan="2"></p-column>
            </p-row>
            <p-row>
                <p-column header="Name"></p-column>
                <p-column header="City"></p-column>
                <p-column header="MRT"></p-column>
                <p-column header="Address"></p-column>
                <p-column field="wifi" header="Wifi" [filter]="true" filterMatchMode="equals">
                        <ng-template pTemplate="filter" let-col>
                            <p-rating [cancel]="false"
                            (onRate)="dt.filter($event.value,col.field,col.filterMatchMode)" ></p-rating>
                        </ng-template>
                </p-column>
                <p-column field="seat" header="Seat" [filter]="true" filterMatchMode="equals">
                        <ng-template pTemplate="filter" let-col>
                            <p-rating [cancel]="false"
                            (onRate)="dt.filter($event.value,col.field,col.filterMatchMode)" ></p-rating>
                        </ng-template>
                </p-column>
                <p-column header="Quiet"></p-column>
                <p-column header="Tasty"></p-column>
            </p-row>
    </p-headerColumnGroup>
    <p-column field="name"></p-column>
    <p-column field="city"></p-column>
    <p-column field="mrt"></p-column>
    <p-column field="address"></p-column>
    <p-column field="wifi"></p-column>
    <p-column field="seat"></p-column>
    <p-column field="quiet"></p-column>
    <p-column field="tasty"></p-column>
    <p-column field="remark" [editable]="true"></p-column>
</p-dataTable> -->


<p-dataTable [value]="tableData" [loading]="false"
             [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" 
             [editable]="true" [responsive]="true" [stacked]="stacked">
<p-headerColumnGroup>
       <p-row>
           <p-column header="Infomation" colspan="3"></p-column>
           <p-column header="Rate" colspan="4"></p-column>
           <p-column header="Remark" rowspan="2"></p-column>
       </p-row>
       <p-row>
           <p-column header="Name"></p-column>
           <p-column header="MRT"></p-column>
           <p-column header="Address"></p-column>
           <p-column header="Wifi"></p-column>
           <p-column header="Seat"></p-column>
           <p-column header="Quiet"></p-column>
           <p-column header="Tasty"></p-column>
       </p-row>
</p-headerColumnGroup>
<p-column field="name" header="Name"></p-column>
<p-column field="mrt" header="MRT"></p-column>
<p-column field="address" header="Address"></p-column>
<p-column field="wifi" header="Wifi"></p-column>
<p-column field="seat" header="Seat"></p-column>
<p-column field="quiet" header="Quiet"></p-column>
<p-column field="tasty" header="Tasty"></p-column>
<p-column field="remark" header="Remark" [editable]="true"></p-column>
</p-dataTable>
<button (onClick)="saveData()">Save Data!</button>
